%div{:class => 'add_sched_info'}
    %label{:for => "cohort_num"} Cohort Number:
    %input{:type => "text"} 

    %p Attach file: 

    = link_to "Submit", manage_cohorts_path, :class => 'button_link'