<div class="centered_links">   
 <% if current_user && current_user.admin? %> 
    
     <div class = "centered_links">
      <li><%= link_to "Log out", logout_path, method: "delete", class: "button_link" %></a></li> 
      <li></li><%= link_to "Create new cohort", '/addcohort', class: "button_link" %></a></li> 
      </div>
      
      
 
<% else %> 
  <ul> 
      <li><%= link_to "Login", 'login' %></a></li> 
      <li><%= link_to "Signup", 'signup' %></a></li> 
      
    </ul> 
<% end %> 

</div>

