
%div{:class => 'add_sched_info'}
    = form_tag view_term_admin_path do  
        %label{:for => "term_name"} Term Name:
        %input{:type => "text", :id => "term_name"}
        
        %p Cohorts in term:
        %input{:type => "checkbox", :id => "cohort_1"}
        %label{:for => "cohort_1"} Cohort 1
        %p
        %input{:type => "checkbox", :id => "cohort_2"}
        %label{:for => "cohort_2"} Cohort 2
        %p
        %input{:type => "checkbox", :id => "cohort_3"}
        %label{:for => "cohort_3"} Cohort 3
        %p
        
        = link_to "Create", view_term_admin_path, :class => 'button_link'
        = link_to "Cancel", view_term_admin_path, :class => 'button_link'