%html
  %head
    %link{:href => "specialTable.css", :rel => "stylesheet"}/
    %title Admin View Result
  %body
    %h1{:style => "text-align:center"} Algorithm Result
    %h3{:style => "text-align:left"} Non-conflicted Time Slots
    %table#resultTable
      %tr
        %th#specialTableHeader Day
        %th#specialTableHeader Time
        %th#specialTableHeader Option
      -@results.each do |result|
        %tr
          %td#specialTableData #{result.day} 
          %td#specialTableData #{result.time}
          %td#specialTableData
            %form
              %button.choosebtn{:formaction => "view_conflicts"} Choose
    %h3{:style => "text-align:left"}
      Conflicted Time Slots
    %table#conflictTable
      %tr
        %th#specialTableHeader Day
        %th#specialTableHeader Time
        %th#specialTableHeader Option
      -@conflict.each do |conf|
        %tr
          %td#specialTableData #{conf.day}
          %td#specialTableData #{conf.time}
          %td#specialTableData
            %form
              %button.detailbtn{:formaction => "view_conflicts"} Details
