%html
  %head
    %link{:href => "table.css", :rel => "stylesheet"}/
    %title Admin View Result
  %body
    %h1{:style => "text-align:center"} Algorithm Result
    %h3{:style => "text-align:left"}
      Non-conflicted Time Slots
    %table#resultTable
      %tr
        %th Day
        %th Time
        %th Option
        -@result.each do |result|
            %tr
            %td result.day
            %td result.start_at +" - " + result.end_at
            %td
                %form
                     %button.choosebtn{:formaction => "view_term_admin"} Choose
      %tr
        %td Wednesday
        %td 1:45 PM - 3:45 PM
        %td
          %form
            %button.choosebtn{:formaction => "view_term_admin"} Choose
      %tr
        %td Friday
        %td 1:45 PM - 3:45 PM
        %td
          %form
            %button.choosebtn{:formaction => "view_term_admin"} Choose
    %h3{:style => "text-align:left"}
      Conflicted Time Slots
    %table#conflictTable
      %tr
        %th Day
        %th Time
        %th Option
      %tr
        %td Monday
        %td 11:45 AM - 1:45 PM
        %td
          %form
            %button.detailbtn{:formaction => "view_conflicts"} Details
      %tr
        %td Monday
        %td 3:45 PM- 5:00 PM
        %td
          %form
            %button.detailbtn{:formaction => "view_conflicts"} Details
      %tr
        %td Tuesday
        %td 8:00 AM- 10:00 AM
        %td
          %form
            %button.detailbtn{:formaction => "view_conflicts"} Details
      %tr
        %td Tuesday
        %td 10:00 AM - 12:00 PM
        %td
          %form
            %button.detailbtn{:formaction => "view_conflicts"} Details
      %tr
        %td Wednesday
        %td 8:00 AM - 10:10 AM
        %td
          %form
            %button.detailbtn{:formaction => "view_conflicts"} Details