%html
  %head
    %link{:href => "result.css", :rel => "stylesheet"}/
    %title Admin View Result
  %body
    %h1{:style => "text-align:center"} Algorithm Result
    %h3{:style => "text-align:left"}
      Non-conflicted Time Slots
    %table#resultTable
      %tr
        %th#special_table_header Day
        %th#special_table_header Time
        %th#special_table_header Option
      -@results.each do |result|
        %tr
          %td#special_table_data #{result.day} 
          %td#special_table_data #{result.time}
          %td#special_table_data
            %form
              %button.choosebtn{:formaction => "view_conflicts"} Choose
    %h3{:style => "text-align:left"}
      Conflicted Time Slots
    %table#conflictTable
      %tr
        %th#special_table_header Day
        %th#special_table_header Time
        %th#special_table_header Option
      -@conflict.each do |conf|
        %tr
          %td#special_table_data #{conf.day}
          %td#special_table_data #{conf.time}
          %td#special_table_data
            %form
              %button.detailbtn{:formaction => "view_conflicts"} Details
