%table{:class => "cohort_table"}
    %tr
        %th Name
        %th Schedule Added
    %tr 
        %td Lauren Haylock
        %td No
    %tr 
        %td Austen Kaul
        %td No
    %tr 
        %td Amanda Beeck
        %td Yes

= link_to "Edit Class Restrictions", "", :class => 'button_link'
= link_to "Find Class Time", "", :class => 'button_link'
= link_to "Back to Home", view_cohorts_path, :class => 'button_link'