<div style="color: #ffffff;">
<h1>Howdy</h1> 
</div>

<div class="centered_links">         
    
    <li><%= link_to "Manage Cohorts", '/managecohorts', class: "button_link" %></a></li> 
     <li> <%= link_to "Log out", logout_path, method: "delete", class:  "button_link"  %></a></li> 
      
</div>      
       