!!!
%html
  %head
    %title Conflicted Detail
  %body
    %h1{:style => "text-align:center"} Conflicted Time Slot Details
    %table#conflictTable
      %tr
        %th#specialTableHeader Student Name
        %th#specialTableHeader Course
        %th#specialTableHeader Section
        %th#specialTableHeader Mandatory
      %tr
        %td#specialTableData Minh Dang
        %td#specialTableData CSCE 606
        %td#specialTableData 01
        %td#specialTableData Yes
      %tr
        %td#specialTableData Minh Dang
        %td#specialTableData CSCE 606
        %td#specialTableData 03
        %td#specialTableData Yes
    // = button_to "Back", view_result_path(@cohort.id), method: :get, form_class: "backbtn"
    = link_to 'Return to Result Page', 'javascript:history.go(-1);', class: "specialBack"