<div style="color: #ffffff;">
 <h1> Student page</h1>
</div>
          <% if current_user && current_user.student? %> 
              <ul> 
              <div style="text-align: left;color: #ffffff;">
               <h1>Howdy, <%= current_user.firstname %></h1>
               </div>
               <div style="text-align: right;color: #ffffff;">
                <h1><%= link_to "Log out", logout_path, method: "delete" %></h1>
                </div>
              
              </ul> 
          <% else %> 
            <ul> 
                <li><%= link_to "Login", 'login' %></a></li> 
                <li><%= link_to "Signup", 'signup' %></a></li> 
              </ul> 
          <% end %> 
          
