/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body{
	background-color: #500000;
	/*can be overwrite with font-family*/
	font: normal 15px serif;
	/*color: white;*/
}

.header{
    width: 350px;
    height: 90px;
}

.header_div {
    padding: 0 1em;
}

.menubar_div {
    position: relative;
    top: 30px;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

h1 {
    color: white;
}

h2 {
    color: white
}

p1 {
    font-family: serif;
    margin: 0;
    font-size: 15px;
}

.button_link {
    color: white;
    text-decoration: none;
    padding: 0 1em;
    text-align: center;
    background: none;
    border: none;
    font-family: serif;
    font-size: 15px;
}

.button_link:hover, .right_button_link:hover {
    text-decoration: underline;
}

.right_button_link {
    color: white;
    text-decoration: none;
    line-height: 40px;
    float: right;
    margin-right: 2%;
    font-family: serif;
    font-size: 15px;
}

.topright{
    margin: auto;
    float: right;
	font-size: large; 
	padding-right: 30px;
	font-family: serif;
	color: white;
}

.centered_links {
    margin: auto;
    width: 40%;
    text-align: center;
    margin-top: 5%;
}

.centered_links .button_link {
    color: white;
}

/*Tooltip setup*/
.tooltip{
    position:relative;
    text-decoration: underline;
}

.tooltiptext{
    display:none;
    position:absolute; 
    z-index:10;
    border:1px;
    border-style:solid;
    border-width:1px;
    padding:3px;
    top: -3px;
    left: 105%;
    width: 40%;
}

.tooltip:hover span.tooltiptext {
    display:block;
}

/*CSS for drop-down terms on students and admin page */
.term_frame {
    width:70%;
    margin: auto;
    background-image: linear-gradient(#FFD5C2, white);
    vertical-align: middle;
    height: 500px;
    border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;
}

.cohort_frame{
    width:70%;
    margin: auto;
    vertical-align: middle;
}

.term_header {
    display: inline-block;
}

.term_frame ul, .term_frame li, .cohort_frame label {
    line-height: 40px;
    margin: 0;
    padding: 0 1em;
    list-style: none;
}

.cohort_frame label{
    font-size: 20px;
}

.term_frame ul {
    margin-bottom: 15px;
}


/*stylers for add_schedule page*/
.add_sched_info {
    height: 500px;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;
	background-image: linear-gradient(#FFD5C2, white);
}

.add_stud_info {
    height: 500px;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;
	background-image: linear-gradient(#FFD5C2, white);
}

label, input[type ='text'] {
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Disable arrows in number field of UIN */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

[id^="dept_select"], [id^="course_num_select"], [id^="section_num_select"] {
    min-width: 50px;
}

.sched_table {
    width: 60%;
    border: 1;
    margin: auto;
    margin-bottom: 10px;
    line-height: 30px;
}

.cohort_table {
    width: 40%;
    border: 1;
    margin: auto;
    text-align: center;
}

.student_table{
    width: 90%;
    line-height: 150%;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5%;
}

.Sign_Form{
	text-align: center;
	margin:auto;
	margin-top:50px;	
	width:400px;
	background-color: rgba(255,255,255, 1);
	padding-bottom:60px;
	padding-top:2px;
	padding-left: 15px;
	border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;
}

.linktotextcolor { color: #fff; }

.btn-submit {
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    background: #500000;
    padding: 10px 20px;
    border: 0;
    margin-top: 6px;
}

.Register_Form{
	text-align: center;
	margin:auto;
	margin-top:50px;	
	width:500px;
	background-color: rgba(255,255,255, 1);
	padding-bottom:60px;
	padding-top:2px;
	padding-left: 15px;
	border-radius: 18px;
    box-shadow: 5px 5px 5px #888888;
}

.Register_Form ul {
    text-align: left;
}

.Register_Form .form_label {
    display: block;
    margin: 10px auto;
}

.Register_Form .form_input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.Input_Large{
    font-size: large;
}

.Input_Medium{
    font-size: medium;
}

.Input_XLarge{
	font-size: xx-large;
}

#number {
  width: 9em;
}

select {
    min-width: 100px;
}

/*revamp UI*/
#whiteLabel {
    color: white
}

#notice {
    background-color: green;
    color: white;
    font-family: serif;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

#warning {
    background-color: red;
    color: white;
    padding: 5px
}

/*admin/view_term_admin*/
#adminMenuBar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #4BA12F;
}

#adminMenuBarOption {
  float: left;
}

#adminMenuBarOption a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

#adminMenuBarOption a:hover {
  color: #500000;
  background-color: #5F94B2;
}

#welcomeUser {
    position: relative;
    padding-top: 20px;
}

/*admin/open_semester*/
#openSemesterDiv {
    padding: 30px 0;
    text-align: center;
    color: white
}

/*admin/new_term*/
#newTermDiv {
    padding: 30px 0;
    text-align: center
}

#cohortLabel {
    text-align: center;
    font-family: serif;
    font-size: 15px;
    color: white
}

#cohort_select {
    width: 30%;
    text-align: center;
    font-family: serif;
    font-size: 15px
}

/*admin/manage_cohort*/
#manageCohortDiv {
    padding: 30px 0;
    text-align: center
}

[id*="customDropDownDiv"] table, [id*="customDropDownDiv"] input[type="checkbox"] {
    display: none;
}

[id*="customDropDownDiv"] input:checked ~ table {
    display: table;
}

[id*="customDropDownDiv"] {
    position:relative;
    background-color: #4BA12F;
    line-height: 40px;
    overflow-y: auto;
    height: 40px
}

#manageCohortLabel {
    color: white
}

#manageCohortLabel:hover {
    text-decoration: underline;
}

#rightButtonCohort {
    color: white;
    line-height: 40px;
    float: right;
    margin-right: 2%;
    font-family: serif;
    font-size: 15px;
}

#rightButtonCohort:hover {
    text-decoration: underline
}

#deleteStudentButton {
    color: white
}

#deleteStudentButton:hover {
    text-decoration: underline
}

/*admin/add_cohort*/
#addCohortDiv {
    padding: 30px 0;
    text-align: center;
    color: white
}

#file {
    color: white
}

/*admin/edit_user*/
#editUserDiv {
    padding: 30px 0;
    text-align: center;
}

/*admin/manage_admininstrator*/
#manageAdministratorDiv {
    padding: 30px 0;
    text-align: center
}

#deleteAdminButton {
    color: white
}

#deleteAdminButton:hover {
    text-decoration: underline
}

/*admin/add_admin*/
#addAdminDiv {
    padding: 30px 0;
    text-align: center
}

/*admin/view_cohort*/
#viewCohortDiv {
    padding: 30px 0;
    text-align: center 
}

#chosenTime {
    color: yellow;
    text-align: center;
    font-family: serif;
    font-size: 20px
}

#scheduleChangeWarning {
    color: white;
    text-align: center;
    font-family: serif;
    font-size: 20px
}

/*student/view_terms*/
#studentViewTermsDiv {
    text-align: center 
}

#studentViewTermsMenuBarDiv {
    position: relative;
    top: 30px
}

#studentMenuBar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #4BA12F;
}

#studentMenuBarOption {
  float: left
}

#studentMenuBarOption a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none
}

#studentMenuBarOption a:hover {
  color: #500000;
  background-color: #5F94B2
}

/*student/view_schedule*/
#viewScheduleDiv {
    padding: 30px 0;
    text-align: center 
}

#viewScheduleToolTip {
    display:none;
    position:absolute; 
    z-index:10;
    border:1px;
    border-style:solid;
    border-width:1px;
    padding:3px;
    top: -3px;
    left: 105%;
    width: 80%;
}

.tooltip:hover #viewScheduleToolTip {
    display:block;
}

/*student/add_schedule*/
#addScheduleDiv {
    text-align: center  
}

#addScheduleHeader {
    padding-bottom: 0px
}

/* result and conflict table css file */
#tableWrapper {
  overflow-y: auto; 
  height: 350px;   
}

#resultTable, #conflictTable, #userTable, #adminTable, #termTable, #studentTermTable, #studentScheduleTable {
  width: 100%;
  height: 50%;
  position: relative;
  table-layout: fixed;
  border: 1px solid white;
  overflow-y: auto; 
}

#termTable, #studentTermTable, #studentScheduleTable {
  width: 50%;
  height: 50%;
  position: relative;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  overflow-y: auto; 
}

#specialTableHeader {
  height: 40px;
  border: 1px solid white;
  font-size: 15px;
  text-align: center;
  color: white;
  background-color: green;
  position: sticky;
  top: 0;
}

#specialTableData {
  height: 40px;
  border: 1px solid white;
  font-size: 15px;
  text-align: center;
  color: white;
  font-family: serif;
  background-color: #500000
}

#resultTable tr:hover td, #conflictTable tr:hover td, #termTable tr:hover td, #adminTable tr:hover td, #studentScheduleTable tr:hover td{
  background-color: rgb(51, 49, 190)
}

#resultTable tb {
  height: 50%;
  overflow-y: auto; 
}

#studentActionItem {
    color: #fff;
    font-size: 15px;
    border-bottom: 1px solid #fff;
    padding: 20px 10px;
    text-align: left;
    font-family: serif;
    vertical-align: middle;
}

#studentActionItem * {
   vertical-align: middle; 
}

#studentActionItem #studentActionStudentName {
    font-weight: bold;
}

#studentActionItem #studentActionAction {
    font-weight: bold;
}

#studentActionItem #studentActionScheduleName {
    font-weight: bold;
}

#studentActionItem #studentActionDate {
    float: right;
}



h3 {
  position: relative;
  color: #ffffff
}

.detailbtn {
  background-color: transparent;
  border: white;
  color: black;
  text-align: center;
}

.choosebtn {
  background-color: transparent;
  border: white;
  color: black;
  text-align: center;
}


.backbtn {
  position:relative;
  top: 20px;
  float: right;
  background-color: transparent;
  border: white;
  color: black;
  text-align: center;
}

/*admin/view_conflicts*/
.specialBack {
    position:relative;
    top: 20px;
    float: right;
    background-color: transparent;
    border: white;
    color: white;
    text-align: center;
    font-size: 20px
}


.icon{
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

/* Config */
:root {
    --sk-size: 50px;
    --sk-color: white;
}
  
  
/* Utility class for centering */
.sk-center {
    margin: auto; 
    margin-top: 25px;
}

.sk-chase {
    width: var(--sk-size);
    height: var(--sk-size);
    position: relative;
    animation: sk-chase 2.5s infinite linear both; 
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: var(--sk-color);
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
    100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4); 
    } 100%, 0% {
        transform: scale(1.0); 
    } 
}
  