/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body{
	background-color: #500000;
}

 
 
 .container {
  padding: 0;
  width: 100%;
}

.pull-right {
  position: inline;
  margin: 20px 20px 0 0;
}

.header {
  margin: 0;
  padding: 0;
}

.header li {
 display: inline;
 margin-left: 30px;
}

.header a {
  color: #000;
  font-size: 20px;  
  text-decoration: none; 
}

.topright{
    margin: auto;
    float: right;
	font-size: large; 
	padding-right: 30px;
	color: white;
}

.Input_Medium{
    font-size: medium;
}

.Sign_Form{
	text-align: center;
	margin:auto;
	margin-top:5px;	
	width:400px;
	background-color: rgba(255,255,255, 1);
	padding-bottom:60px;
	padding-top:2px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    */
}
.btn-submit {
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  background: #500000;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}


.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.add_sched_info {
    height: 600px;
    width: 90%;
    margin: auto;
    padding-top:2px;
    
    text-align: center;
    border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;
	background-image: linear-gradient(#FFD5C2, white);
}
.student_table{
    width: 90%;
    line-height: 150%;
    font-size: small;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5%;
}