// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Sign_Form{
	text-align: center;
	margin:auto;
	margin-top:5px;	
	width:400px;
	background-color: rgba(255,255,255, 1);
	padding-bottom:60px;
	padding-top:2px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 18px;
	box-shadow: 5px 5px 5px #888888;
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    */
}

.btn-submit {
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  background: #500000;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}

form .field, form .actions {
  margin: 12px 0;
}