<div class="header">
  <a href="/"><%= image_tag("tamu_zlp_logo.png", class: "header") %></a>
</div>

<div class= "topright">
 <%= link_to "Sign Out", "/signedout", class: 'linktotextcolor'%>
</div>
<div style="text-align: center;color: #ffffff;">
      <br>
  <br>
  <br>
  <br>
  <h1>View Terms Page (Lauren)</h1>
</div>

