
%div{:class => "add_sched_info"}
    = form_tag view_terms_path do 
        %label{:for => "sched_name"} Schedule Name:
        %input{:type => "text", :id => "sched_name"}
        %table{:class => "sched_table"}
            %tr
                %th Dept.
                %th Course Num.
                %th Section
                %th Mandatory 
            - 5.times do
                %tr{:class => "sched_table_row"}
                    %td
                        %select{:name => "dept", :class => "sched_drop_down"}
                            %option ECEN
                            %option CSCE
                            %option ENGR
                    %td
                        %select{:name => "course_num", :class => "sched_drop_down"}
                            %option 460
                            %option 300
                            %option 101
                    %td
                        %select{:name => "section", :class => "sched_drop_down"}
                            %option 180
                            %option 200
                            %option 404
                    %td
                        %input{:type => "checkbox"}
        = link_to "Add Class", "", :class => 'button_link'
        //****Change later
        = link_to "Save Schedule", view_terms_path, :class => 'button_link'
        
    
