%h2 Howdy, [student name]!

%div{:class => "term_frame"}
    %div{:class => "term_drop_down"}
        %div{:class => "term_schedule"}
            %input{:type => "checkbox", :id => "1"}
            %label{:for => "1"} Semester 1
            
            %ul{:class => "schedules"}
                %li
                    Schedule 1
                %li
                    Schedule 2
        %div{:class => "term_schedule"}
            %input{:type => "checkbox", :id => "2"}
            %label{:for => "2"} Semester 2
            
            %ul{:class => "schedules"}
                %li
                    Schedule 1
                %li
                    Schedule 2
        %div{:class => "term_schedule"}
            %input{:type => "checkbox", :id => "3"}
            %label{:for => "3"} Semester 3
            
            %ul{:class => "schedules"}
                %li
                    Schedule 1
                %li
                    Schedule 2
                    
        %div{:class => "term_schedule"}
            %input{:type => "checkbox", :id => "4"}
            %label{:for => "4"} Semester 4
            
            %ul{:class => "schedules"}
                %li
                    Schedule 1
                %li
                    Schedule 2
                    
        %div{:class => "term_schedule"}
            %input{:type => "checkbox", :id => "5"}
            %label{:for => "5"} Semester 5
            
            %ul{:class => "schedules"}
                %li
                    Schedule 1
                %li
                    Schedule 2
        