<div class= "topright" style="color: #ffffff;">
<p>Already have an account? <%=  link_to "Sign in", '/', style: 'color:white;' %></p>
</div>

<div style="text-align: center;color: #ffffff;">
      <br>
</div>
    
<div class= "Register_Form">
    <h1>Create Account </h1>
    <form action = "/users" method = "POST">
        <input type= "hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <p><label for="number">UIN</label><br>  <input type= "number" name="user[uin]" size= 30 class= "Input_Medium" required></p>
        <p>Last Name<br>  <input type= "name" name="user[lastname]" size= 30 class= "Input_Medium" required></p>
        <p>First Name<br>  <input type= "name" name="user[firstname]" size= 30 class= "Input_Medium" required></p>
        <p><label for="email">Email</label><br>  <input type= "email" name="user[email]" placeholder="netid@tamu.edu"  pattern=".+@tamu.edu" title= "Please provide a valid tamu email id only" size= 30 class= "Input_Medium" required></p>
        <p>Password<br>  <input type= "password" name="user[password]"  size= 30 class= "Input_Medium"></p>
        <p>Re-enter Password<br><input type= "password" name="user[password_confirmation]"  size= 30 class= "Input_Medium"></p>
        
        <input type= "submit" name="submit" class= "submit" style= "width:80px;" class= "Input_XLarge">
    </form>    
    
    <div class= "errors">
        <% if flash[:register_errors]%>
            <% flash[:register_errors].each do |error| %>
                <p> <%= error%> </p>
            <%end%>
        <%end%>
    </div>

</div>

